// Specific CSS for your home-page
// .banner {
//   background-image: url("https://images.unsplash.com/photo-1502035618526-6b2f1f5bca1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
//   height: 200px;
//   opacity: 0.8;
//   background-position: 25% 75%;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: Helvetica, sans-serif;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(#5f1e45, #601542);
  transition: background 0.3s ease;
  border: 1px solid #601542;
}

.btn-gradient:hover {
  background: rgb(232, 199, 159);
  color: white;
}
