<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1210276/pexels-photo-1210276.jpeg?auto=compress&cs=tinysrgb&w=400)">
  StarBnB
</div>

<h2>Stars :</h2>

<% @stars.each do |star| %>
  <div class="card-product">
    <%= cl_image_tag star.photo.key, alt: "Beyoncé Knowles", crop: :fill %>
    <div class="card-product-infos">
      <h2><%= link_to star.last_name, star_path(star) %></h2>
      <p><%= star.category %></p>
      <p><%= star.price %>€</p>
    </div>
      <% end %>
  </div>
