<h1 class="text-align">Liste des stars</h1>

<div class="container">
  <div class="row">
    <% @stars.each do |star|
     <div class="col-12">
        <%= link_to star.first_name, star_path(star) %>
      </div>
    <% end %>
  </div>
</div>
