<h1 class="text-align">Détails star</h1>

<div class="container">
  <div class="row movie-display">
    <div class="col-lg-6">
  </div>
  <div class="col-lg-6 stars-display-content">
    <p class="movie-header-content">
    <p class="btn-stars-edit"><%= @stars.rating %></span></p>
  </div>

  <p>
    <%= @stars.overview %>
  </p>

  <div>
    <iframe
      width="500"
      height="350"
      frameborder="0"
      allow="accelerometer, autoplay, clipboard-write, encrypted-stars"
      allowfullscreen>
    </iframe>
  </div>
</div>
