<%# <div class="banner"> %>
  <%# <h2 class="text-light">Star BNB </h2> %>
  <%# <h3 class="text-center p-3 text-light">Vie ta passion, <br> réserve ton idole! <%= link_to "HERE", stars_path </h3> %>
<%# </div> %>

<%# <p>Find me in app/views/pages/home.html.erb</p> %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/bokeh-lights-stars-banner-design_1048-11405.jpg?w=1060&t=st=1669285414~exp=1669286014~hmac=949c3b65aae62edd00df49355bc54bab5c5d952ceb0aa788f84c4fa427d2ed51);">
  <div class="container">
    <h1><strong>STAR BNB</strong></h1>
    <p>Vie ta passion, <strong>réserve ton idole!</strong></p>
    <a href="#"><%= link_to "ENTER", stars_path, class: "btn btn-gradient" %></a>
    <br>
    <br><a href="#"><%= link_to "LOG IN", new_user_session_path, class: "btn btn-gradient" %></a>
  </div>
</div>
