<div class="banner">
  <h2 class="text-light">Star BNB </h2>
  <h3 class="text-center p-3 text-light">Vie ta passion, <br> réserve ton idole! <%= link_to "HERE", stars_path %> </h3>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
