
<div class="container1">

<%= simple_form_for ([@star, @reservation]) do |f| %>
    <%= f.input :date_start %>
    <%= f.input :date_end %>
    <%= f.submit "Réserver", class: "btn btn-gradient"%>
  <% end %>

</div>
