.btn
{
  background-color: rgba(67, 48, 75, 0.84);
  color: white;
}

.btn:hover{
  background: rgba(67, 48, 75, 0.64);
  color: white;
}

// button
// {
//   background-color: rgba(67, 48, 75, 0.84);
//   color: white;
//   margin: 10px auto;
// }
